@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;900&family=Barlow:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --color-ucr-azul:   #2196c4;
  --color-ucr-morado: #6b2fa0;
  --color-ucr-dorado: #c9a227;
  --color-ucr-negro:  #1a1a1a;
  --color-ucr-blanco: #ffffff;
  --color-nav-fondo:  #1c3872;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}